In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("../datasets/police_deaths_USA_v6.csv")
df

,Rank,Name,Age,End_Of_Watch,Day_Of_Week,Cause,Department,State,Tour,Badge,Weapon,Offender,Summary
0,Constable,Darius Quimby,NaN,1791-01-03,Monday,Stabbed,"Albany County Constable's Office, New York",New York,NaN,NaN,Edged weapon; Knife,Executed in 1791,Constable Darius Quimby was stabbed to death w...
1,Sheriff,Cornelius Hogeboom,53.0,1791-10-22,Saturday,Gunfire,"Columbia County Sheriff's Office, New York",New York,2 years,NaN,Gun; Unknown type,Acquitted,Sheriff Cornelius Hogeboom was shot and killed...
2,Deputy Sheriff,Isaac Smith,NaN,1792-05-17,Thursday,Gunfire,"Westchester County Sheriff's Department, New York",New York,NaN,NaN,Handgun,Executed in 1793,Deputy Sheriff Isaac Smith was shot and killed...
3,Marshal,Robert Forsyth,40.0,1794-01-11,Saturday,Gunfire,United States Department of Justice - United S...,United States,"4 years, 4 months",4,Handgun; Pistol,Escaped,"Marshal Robert Forsyth, believed to be one of ..."
4,Deputy Sheriff,Robert Berwick,NaN,1797-06-29,Thursday,Gunfire,"New York County Sheriff's Office, New York",New York,NaN,NaN,Handgun,Executed in 1797,Deputy Sheriff Robert Berwick was shot and kil...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25618,Police Officer,Donald Sahota,52.0,2022-01-29,Saturday,Gunfire (Inadvertent),"Vancouver Police Department, Washington",Washington,"27 years, 6 months",1531,Handgun,Arrested,Police Officer Donald Sahota was inadvertently...
25619,Deputy Sheriff,Ned P. Byrd,48.0,2022-08-11,Thursday,Gunfire,"Wake County Sheriff's Office, North Carolina",North Carolina,13 years,397,Gun; Unknown type,In custody,Deputy Sheriff Ned Byrd was shot and killed wh...
25620,K9 Officer,Ryan Patrick Copeland,33.0,2015-11-23,Monday,Automobile crash,"McFarland Police Department, Wisconsin",Wisconsin,3 years,K8435,NaN,NaN,K9 Officer Ryan Copeland was killed in a vehic...
25621,K9 Officer,Timothy James Brackeen,38.0,2016-09-12,Monday,Gunfire,"Shelby Police Department, North Carolina",North Carolina,12 years,763,Gun; Unknown type,Sentenced to life,Police Officer Tim Brackeen succumbed to gunsh...
25622,K9 Officer,Jordan Harris Sheldon,32.0,2019-05-04,Saturday,Gunfire,"Mooresville Police Department, North Carolina",North Carolina,6 years,NaN,Gun; Unknown type,Committed suicide,Police Officer Jordan Sheldon was shot and kil...

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25623 entries, 0 to 25622
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          25623 non-null  object
 1   Name          25623 non-null  object
 2   Age           22946 non-null  float64
 3   End_Of_Watch  25623 non-null  object
 4   Day_Of_Week   25623 non-null  object
 5   Cause         25622 non-null  object
 6   Department    25623 non-null  object
 7   State         25623 non-null  object
 8   Tour          17417 non-null  object
 9   Badge         7477 non-null   object
 10  Weapon        16263 non-null  object
 11  Offender      13803 non-null  object
 12  Summary       25623 non-null  object
dtypes: float64(1), object(12)
memory usage: 2.5+ MB

In [6]:
df['Cause'].unique()

#missingno.matrix(df_titulos)
#plt.show()

array(['Stabbed', 'Gunfire', 'Duty related illness', 'Assault', 'Fall',
       'Drowned', 'Structure collapse', 'Fire', 'Gunfire (Inadvertent)',
       'Explosion', 'Vehicular assault', 'Animal related', 'Heart attack',
       'Weather/Natural disaster', 'Accidental', 'Hypothermia',
       'Heatstroke', 'Train accident', 'Struck by streetcar',
       'Struck by train', 'Bomb', 'Poisoned', 'Electrocuted',
       'Boating accident', 'Bicycle accident', 'Automobile crash',
       'Struck by vehicle', nan, 'Exposure to toxins', 'Motorcycle crash',
       'Vehicle pursuit', 'Unidentified', 'Training accident',
       'Aircraft accident', 'Terrorist attack', '9/11 related illness',
       'COVID19'], dtype=object)

In [7]:
df['Department'].unique()

array(["Albany County Constable's Office, New York",
       "Columbia County Sheriff's Office, New York",
       "Westchester County Sheriff's Department, New York", ...,
       "Pima County Constable's Office, Arizona",
       'Vancouver Police Department, Washington',
       'McFarland Police Department, Wisconsin'], dtype=object)

In [8]:
df['Age'].unique()

array([  nan,   53.,   40.,   45.,   52.,   74.,   20.,   48.,   46.,
         33.,   27.,   60.,   24.,   56.,   61.,   43.,   83.,   66.,
         25.,   31.,   34.,   70.,   21.,   44.,   37.,   36.,   38.,
         30.,   22.,   47.,   41.,   35.,   42.,   18.,   17.,   32.,
         29.,   50.,   28.,   49.,   39.,   26.,   51.,   23.,   55.,
         54.,   19.,   63.,   67.,   65.,   71.,   73.,   59.,   62.,
         57.,   58.,   69.,   68.,   64.,   75.,   81.,   77.,   89.,
         78.,   72.,   76.,   79.,   84.,   80.,   96., 1661.,   92.,
         82.])

In [9]:
df['Tour'].unique()

array([nan, '2 years', '4 years, 4 months', '1 year, 4 months',
       '10 months', '4 months', '6 months', '25 years', '1 week',
       '12 years', '40 years', '1 year', '3 years', '13 years', '1 day',
       '1 month, 3 weeks', '2 weeks', '2 months', '1 month', '3 months',
       '3 days', '7 years', '3 years, 5 months', '9 years', '5 months',
       '4 days', '8 years', '2 years, 6 months', '9 months', '5 years',
       '4 years', '2 months, 1 week', '2 months, 4 weeks', '10 years',
       '6 years', '1 month, 1 week', '1 year, 6 months', '14 years',
       '11 years', '22 years', '1 month, 2 weeks', '7 months', '34 years',
       '3 weeks', '8 months', '2 years, 9 months', '15 years',
       '6 years, 1 month', '1 year, 8 months', '2 days',
       '1 year, 7 months', '2 years, 1 month', '11 months',
       '12 years, 6 months', '2 months, 3 weeks', '1 year, 2 months',
       '3 years, 6 months', '3 months, 3 weeks', '4 years, 10 months',
       '3 months, 2 weeks', '10 months, 2 weeks', '17 years',
       '3 years, 4 months', '2 years, 10 months', '19 years',
       '1 year, 11 months', '1 year, 3 months', '24 years',
       '2 years, 7 months', '3 years, 9 months', '3 years, 11 months',
       '20 years', '5 years, 7 months', '2 months, 2 weeks',
       '3 years, 10 months', '10 years, 5 months', '10 months, 3 weeks',
       '3 years, 8 months', '14 years, 10 months', '9 years, 11 months',
       '21 years', '4 years, 11 months', '18 years', '8 years, 6 months',
       '6 years, 2 months', '3 years, 7 months', '8 years, 2 months',
       '5 years, 1 month', '1 year, 10 months', '5 months, 1 week',
       '2 years, 11 months', '16 years', '27 years', '23 years',
       '15 years, 8 months', '4 years, 6 months', '6 years, 3 months',
       '1 year, 5 months', '1 year, 9 months', '3 years, 2 months',
       '22 years, 8 months', '38 years', '1 year, 1 month',
       '2 years, 4 months', '6 years, 5 months', '5 years, 6 months',
       '16 years, 5 months', '36 years', '11 years, 10 months', '5 days',
       '13 years, 11 months', '30 years', '24 years, 7 months',
       '5 years, 5 months', '19 years, 4 months', '28 years',
       '11 years, 3 months', '29 years, 2 months', '31 years',
       '20 years, 7 months', '15 years, 6 months', '35 years',
       '13 years, 9 months', '5 years, 3 months', '46 years',
       '12 years, 3 months', '33 years', '21 years, 4 months',
       '24 years, 5 months', '13 years, 3 months', '6 days',
       '10 years, 9 months', '26 years', '26 years, 1 month',
       '13 years, 1 month', '17 years, 3 months', '19 years, 6 months',
       '32 years', '21 years, 1 month', '4 years, 2 months',
       '3 years, 1 month', '7 years, 4 months', '13 years, 6 months',
       '12 years, 1 month', '8 months, 3 weeks', '7 years, 6 months',
       '13 years, 10 months', '10 years, 4 months', '14 years, 9 months',
       '21 years, 3 months', '6 years, 6 months', '4 months, 1 week',
       '29 years', '7 years, 8 months', '4 years, 1 month',
       '8 years, 10 months', '5 years, 4 months', '17 years, 11 months',
       '10 years, 11 months', '7 years, 9 months', '10 years, 7 months',
       '11 years, 4 months', '2 years, 2 months', '2 years, 8 months',
       '10 years, 1 month', '14 years, 7 months', '23 years, 6 months',
       '43 years', '8 years, 8 months', '10 years, 6 months', '44 years',
       '5 years, 2 months', '26 years, 9 months', '17 years, 10 months',
       '14 years, 3 months', '25 years, 6 months', '17 years, 6 months',
       '39 years', '22 years, 6 months', '26 years, 7 months',
       '15 years, 9 months', '9 years, 5 months', '37 years',
       '5 years, 10 months', '9 years, 9 months', '8 years, 4 months',
       '2 years, 5 months', '31 years, 6 months', '17 years, 8 months',
       '16 years, 6 months', '17 years, 7 months', '19 years, 2 months',
       '54 years', '41 years', '7 years, 2 months', '24 years, 2 months',
       '11 years, 7 months', '10 years, 10 months', '27 years, 6 months',
       '9 years, 10 months', '6 years, 4 months', '8 months, 1 week',
       '11 years, 8 months', '24 years, 1 month', '4 years, 9 months',
       '6 months, 3 weeks', '12 years, 2 months', '19 years, 8 months',
       '16 years, 9 months', '9 years, 6 months', '50 years',
       '7 years, 5 months', '24 years, 6 months', '4 years, 7 months',
       '6 years, 8 months', '11 years, 2 months', '33 years, 6 months',
       '49 years, 7 months', '2 years, 3 months', '4 years, 3 months',
       '42 years', '4 weeks', '9 months, 3 weeks', '36 years, 4 months',
       '23 years, 5 months', '16 years, 4 months', '24 years, 10 months',
       '19 years, 7 months', '26 years, 6 months', '9 years, 7 months',
       '4 years, 5 months', '8 years, 11 months', '12 years, 10 months',
       '15 years, 3 months', '6 years, 11 months', '29 years, 11 months',
       '28 years, 3 months', '25 years, 7 months', '14 years, 11 months',
       '17 years, 9 months', '5 years, 9 months', '8 years, 7 months',
       '13 years, 8 months', '39 years, 2 months', '11 years, 11 months',
       '11 years, 6 months', '6 months, 2 weeks', '42 years, 8 months',
       '51 years', '14 years, 1 month', '11 months, 2 weeks',
       '6 years, 9 months', '19 years, 9 months', '6 years, 10 months',
       '9 years, 4 months', '7 years, 3 months', '14 years, 2 months',
       '13 years, 5 months', '3 years, 3 months', '9 years, 2 months',
       '19 years, 11 months', '27 years, 8 months', '38 years, 6 months',
       '15 years, 1 month', '16 years, 8 months', '7 years, 11 months',
       '11 years, 9 months', '12 years, 8 months', '15 years, 4 months',
       '8 years, 9 months', '9 years, 1 month', '8 years, 3 months',
       '12 years, 4 months', '17 years, 4 months', '18 years, 10 months',
       '7 years, 7 months', '25 years, 10 months', '22 years, 11 months',
       '10 years, 2 months', '20 years, 5 months', '21 years, 7 months',
       '19 years, 3 months', '4 years, 8 months', '32 years, 3 months',
       '7 years, 1 month', '11 years, 1 month', '14 years, 4 months',
       '27 years, 10 months', '10 years, 8 months', '15 years, 5 months',
       '22 years, 10 months', '15 years, 2 months', '21 years, 11 months',
       '8 years, 5 months', '14 years, 8 months', '18 years, 5 months',
       '6 years, 7 months', '9 months, 2 weeks', '16 years, 10 months',
       '14 years, 6 months', '20 years, 1 month', '25 years, 9 months',
       '18 years, 6 months', '26 years, 11 months', '16 years, 7 months',
       '8 years, 1 month', '29 years, 4 months', '10 years, 3 months',
       '26 years, 3 months', '4 months, 2 weeks', '26 years, 8 months',
       '28 years, 7 months', '29 years, 6 months', '11 years, 5 months',
       '28 years, 4 months', '55 years', '7 years, 10 months',
       '21 years, 6 months', '12 years, 7 months', '19 years, 10 months',
       '29 years, 3 months', '24 years, 9 months', '35 years, 8 months',
       '47 years', '25 years, 11 months', '22 years, 2 months',
       '48 years', '17 years, 1 month', '20 years, 11 months',
       '43 years, 10 months', '30 years, 6 months', '52 years',
       '34 years, 9 months', '18 years, 9 months', '60 years',
       '38 years, 10 months', '27 years, 4 months', '20 years, 4 months',
       '45 years', '22 years, 3 months', '20 years, 8 months',
       '15 years, 7 months', '30 years, 8 months', '24 years, 8 months',
       '20 years, 6 months', '12 years, 9 months', '30 years, 10 months',
       '13 years, 4 months', '27 years, 3 months', '40 years, 8 months',
       '21 years, 5 months', '32 years, 10 months', '33 years, 2 months',
       '25 years, 4 months', '20 years, 9 months', '19 years, 5 months',
       '35 years, 11 months', '26 years, 5 months', '18 years, 7 months',
       '18 years, 3 months', '16 years, 3 months', '30 years, 9 months',
       '20 years, 2 months', '37 years, 6 months', '30 years, 5 months',
       '16 years, 11 months', '9 years, 3 months', '27 years, 5 months',
       '21 years, 2 months', '24 years, 11 months'], dtype=object)

In [10]:
df['Tour'] = df['Tour'].fillna("0 tiempo")
df['Tour'].unique()

array(['0 tiempo', '2 years', '4 years, 4 months', '1 year, 4 months',
       '10 months', '4 months', '6 months', '25 years', '1 week',
       '12 years', '40 years', '1 year', '3 years', '13 years', '1 day',
       '1 month, 3 weeks', '2 weeks', '2 months', '1 month', '3 months',
       '3 days', '7 years', '3 years, 5 months', '9 years', '5 months',
       '4 days', '8 years', '2 years, 6 months', '9 months', '5 years',
       '4 years', '2 months, 1 week', '2 months, 4 weeks', '10 years',
       '6 years', '1 month, 1 week', '1 year, 6 months', '14 years',
       '11 years', '22 years', '1 month, 2 weeks', '7 months', '34 years',
       '3 weeks', '8 months', '2 years, 9 months', '15 years',
       '6 years, 1 month', '1 year, 8 months', '2 days',
       '1 year, 7 months', '2 years, 1 month', '11 months',
       '12 years, 6 months', '2 months, 3 weeks', '1 year, 2 months',
       '3 years, 6 months', '3 months, 3 weeks', '4 years, 10 months',
       '3 months, 2 weeks', '10 months, 2 weeks', '17 years',
       '3 years, 4 months', '2 years, 10 months', '19 years',
       '1 year, 11 months', '1 year, 3 months', '24 years',
       '2 years, 7 months', '3 years, 9 months', '3 years, 11 months',
       '20 years', '5 years, 7 months', '2 months, 2 weeks',
       '3 years, 10 months', '10 years, 5 months', '10 months, 3 weeks',
       '3 years, 8 months', '14 years, 10 months', '9 years, 11 months',
       '21 years', '4 years, 11 months', '18 years', '8 years, 6 months',
       '6 years, 2 months', '3 years, 7 months', '8 years, 2 months',
       '5 years, 1 month', '1 year, 10 months', '5 months, 1 week',
       '2 years, 11 months', '16 years', '27 years', '23 years',
       '15 years, 8 months', '4 years, 6 months', '6 years, 3 months',
       '1 year, 5 months', '1 year, 9 months', '3 years, 2 months',
       '22 years, 8 months', '38 years', '1 year, 1 month',
       '2 years, 4 months', '6 years, 5 months', '5 years, 6 months',
       '16 years, 5 months', '36 years', '11 years, 10 months', '5 days',
       '13 years, 11 months', '30 years', '24 years, 7 months',
       '5 years, 5 months', '19 years, 4 months', '28 years',
       '11 years, 3 months', '29 years, 2 months', '31 years',
       '20 years, 7 months', '15 years, 6 months', '35 years',
       '13 years, 9 months', '5 years, 3 months', '46 years',
       '12 years, 3 months', '33 years', '21 years, 4 months',
       '24 years, 5 months', '13 years, 3 months', '6 days',
       '10 years, 9 months', '26 years', '26 years, 1 month',
       '13 years, 1 month', '17 years, 3 months', '19 years, 6 months',
       '32 years', '21 years, 1 month', '4 years, 2 months',
       '3 years, 1 month', '7 years, 4 months', '13 years, 6 months',
       '12 years, 1 month', '8 months, 3 weeks', '7 years, 6 months',
       '13 years, 10 months', '10 years, 4 months', '14 years, 9 months',
       '21 years, 3 months', '6 years, 6 months', '4 months, 1 week',
       '29 years', '7 years, 8 months', '4 years, 1 month',
       '8 years, 10 months', '5 years, 4 months', '17 years, 11 months',
       '10 years, 11 months', '7 years, 9 months', '10 years, 7 months',
       '11 years, 4 months', '2 years, 2 months', '2 years, 8 months',
       '10 years, 1 month', '14 years, 7 months', '23 years, 6 months',
       '43 years', '8 years, 8 months', '10 years, 6 months', '44 years',
       '5 years, 2 months', '26 years, 9 months', '17 years, 10 months',
       '14 years, 3 months', '25 years, 6 months', '17 years, 6 months',
       '39 years', '22 years, 6 months', '26 years, 7 months',
       '15 years, 9 months', '9 years, 5 months', '37 years',
       '5 years, 10 months', '9 years, 9 months', '8 years, 4 months',
       '2 years, 5 months', '31 years, 6 months', '17 years, 8 months',
       '16 years, 6 months', '17 years, 7 months', '19 years, 2 months',
       '54 years', '41 years', '7 years, 2 months', '24 years, 2 months',
       '11 years, 7 months', '10 years, 10 months', '27 years, 6 months',
       '9 years, 10 months', '6 years, 4 months', '8 months, 1 week',
       '11 years, 8 months', '24 years, 1 month', '4 years, 9 months',
       '6 months, 3 weeks', '12 years, 2 months', '19 years, 8 months',
       '16 years, 9 months', '9 years, 6 months', '50 years',
       '7 years, 5 months', '24 years, 6 months', '4 years, 7 months',
       '6 years, 8 months', '11 years, 2 months', '33 years, 6 months',
       '49 years, 7 months', '2 years, 3 months', '4 years, 3 months',
       '42 years', '4 weeks', '9 months, 3 weeks', '36 years, 4 months',
       '23 years, 5 months', '16 years, 4 months', '24 years, 10 months',
       '19 years, 7 months', '26 years, 6 months', '9 years, 7 months',
       '4 years, 5 months', '8 years, 11 months', '12 years, 10 months',
       '15 years, 3 months', '6 years, 11 months', '29 years, 11 months',
       '28 years, 3 months', '25 years, 7 months', '14 years, 11 months',
       '17 years, 9 months', '5 years, 9 months', '8 years, 7 months',
       '13 years, 8 months', '39 years, 2 months', '11 years, 11 months',
       '11 years, 6 months', '6 months, 2 weeks', '42 years, 8 months',
       '51 years', '14 years, 1 month', '11 months, 2 weeks',
       '6 years, 9 months', '19 years, 9 months', '6 years, 10 months',
       '9 years, 4 months', '7 years, 3 months', '14 years, 2 months',
       '13 years, 5 months', '3 years, 3 months', '9 years, 2 months',
       '19 years, 11 months', '27 years, 8 months', '38 years, 6 months',
       '15 years, 1 month', '16 years, 8 months', '7 years, 11 months',
       '11 years, 9 months', '12 years, 8 months', '15 years, 4 months',
       '8 years, 9 months', '9 years, 1 month', '8 years, 3 months',
       '12 years, 4 months', '17 years, 4 months', '18 years, 10 months',
       '7 years, 7 months', '25 years, 10 months', '22 years, 11 months',
       '10 years, 2 months', '20 years, 5 months', '21 years, 7 months',
       '19 years, 3 months', '4 years, 8 months', '32 years, 3 months',
       '7 years, 1 month', '11 years, 1 month', '14 years, 4 months',
       '27 years, 10 months', '10 years, 8 months', '15 years, 5 months',
       '22 years, 10 months', '15 years, 2 months', '21 years, 11 months',
       '8 years, 5 months', '14 years, 8 months', '18 years, 5 months',
       '6 years, 7 months', '9 months, 2 weeks', '16 years, 10 months',
       '14 years, 6 months', '20 years, 1 month', '25 years, 9 months',
       '18 years, 6 months', '26 years, 11 months', '16 years, 7 months',
       '8 years, 1 month', '29 years, 4 months', '10 years, 3 months',
       '26 years, 3 months', '4 months, 2 weeks', '26 years, 8 months',
       '28 years, 7 months', '29 years, 6 months', '11 years, 5 months',
       '28 years, 4 months', '55 years', '7 years, 10 months',
       '21 years, 6 months', '12 years, 7 months', '19 years, 10 months',
       '29 years, 3 months', '24 years, 9 months', '35 years, 8 months',
       '47 years', '25 years, 11 months', '22 years, 2 months',
       '48 years', '17 years, 1 month', '20 years, 11 months',
       '43 years, 10 months', '30 years, 6 months', '52 years',
       '34 years, 9 months', '18 years, 9 months', '60 years',
       '38 years, 10 months', '27 years, 4 months', '20 years, 4 months',
       '45 years', '22 years, 3 months', '20 years, 8 months',
       '15 years, 7 months', '30 years, 8 months', '24 years, 8 months',
       '20 years, 6 months', '12 years, 9 months', '30 years, 10 months',
       '13 years, 4 months', '27 years, 3 months', '40 years, 8 months',
       '21 years, 5 months', '32 years, 10 months', '33 years, 2 months',
       '25 years, 4 months', '20 years, 9 months', '19 years, 5 months',
       '35 years, 11 months', '26 years, 5 months', '18 years, 7 months',
       '18 years, 3 months', '16 years, 3 months', '30 years, 9 months',
       '20 years, 2 months', '37 years, 6 months', '30 years, 5 months',
       '16 years, 11 months', '9 years, 3 months', '27 years, 5 months',
       '21 years, 2 months', '24 years, 11 months'], dtype=object)

In [11]:

df['Tour']=df['Tour'].str.replace(' 0','')
df['Tour']=df['Tour'].str.replace(' ','--')
df['Tour'].unique()

array(['0--tiempo', '2--years', '4--years,--4--months',
       '1--year,--4--months', '10--months', '4--months', '6--months',
       '25--years', '1--week', '12--years', '40--years', '1--year',
       '3--years', '13--years', '1--day', '1--month,--3--weeks',
       '2--weeks', '2--months', '1--month', '3--months', '3--days',
       '7--years', '3--years,--5--months', '9--years', '5--months',
       '4--days', '8--years', '2--years,--6--months', '9--months',
       '5--years', '4--years', '2--months,--1--week',
       '2--months,--4--weeks', '10--years', '6--years',
       '1--month,--1--week', '1--year,--6--months', '14--years',
       '11--years', '22--years', '1--month,--2--weeks', '7--months',
       '34--years', '3--weeks', '8--months', '2--years,--9--months',
       '15--years', '6--years,--1--month', '1--year,--8--months',
       '2--days', '1--year,--7--months', '2--years,--1--month',
       '11--months', '12--years,--6--months', '2--months,--3--weeks',
       '1--year,--2--months', '3--years,--6--months',
       '3--months,--3--weeks', '4--years,--10--months',
       '3--months,--2--weeks', '10--months,--2--weeks', '17--years',
       '3--years,--4--months', '2--years,--10--months', '19--years',
       '1--year,--11--months', '1--year,--3--months', '24--years',
       '2--years,--7--months', '3--years,--9--months',
       '3--years,--11--months', '20--years', '5--years,--7--months',
       '2--months,--2--weeks', '3--years,--10--months',
       '10--years,--5--months', '10--months,--3--weeks',
       '3--years,--8--months', '14--years,--10--months',
       '9--years,--11--months', '21--years', '4--years,--11--months',
       '18--years', '8--years,--6--months', '6--years,--2--months',
       '3--years,--7--months', '8--years,--2--months',
       '5--years,--1--month', '1--year,--10--months',
       '5--months,--1--week', '2--years,--11--months', '16--years',
       '27--years', '23--years', '15--years,--8--months',
       '4--years,--6--months', '6--years,--3--months',
       '1--year,--5--months', '1--year,--9--months',
       '3--years,--2--months', '22--years,--8--months', '38--years',
       '1--year,--1--month', '2--years,--4--months',
       '6--years,--5--months', '5--years,--6--months',
       '16--years,--5--months', '36--years', '11--years,--10--months',
       '5--days', '13--years,--11--months', '30--years',
       '24--years,--7--months', '5--years,--5--months',
       '19--years,--4--months', '28--years', '11--years,--3--months',
       '29--years,--2--months', '31--years', '20--years,--7--months',
       '15--years,--6--months', '35--years', '13--years,--9--months',
       '5--years,--3--months', '46--years', '12--years,--3--months',
       '33--years', '21--years,--4--months', '24--years,--5--months',
       '13--years,--3--months', '6--days', '10--years,--9--months',
       '26--years', '26--years,--1--month', '13--years,--1--month',
       '17--years,--3--months', '19--years,--6--months', '32--years',
       '21--years,--1--month', '4--years,--2--months',
       '3--years,--1--month', '7--years,--4--months',
       '13--years,--6--months', '12--years,--1--month',
       '8--months,--3--weeks', '7--years,--6--months',
       '13--years,--10--months', '10--years,--4--months',
       '14--years,--9--months', '21--years,--3--months',
       '6--years,--6--months', '4--months,--1--week', '29--years',
       '7--years,--8--months', '4--years,--1--month',
       '8--years,--10--months', '5--years,--4--months',
       '17--years,--11--months', '10--years,--11--months',
       '7--years,--9--months', '10--years,--7--months',
       '11--years,--4--months', '2--years,--2--months',
       '2--years,--8--months', '10--years,--1--month',
       '14--years,--7--months', '23--years,--6--months', '43--years',
       '8--years,--8--months', '10--years,--6--months', '44--years',
       '5--years,--2--months', '26--years,--9--months',
       '17--years,--10--months', '14--years,--3--months',
       '25--years,--6--months', '17--years,--6--months', '39--years',
       '22--years,--6--months', '26--years,--7--months',
       '15--years,--9--months', '9--years,--5--months', '37--years',
       '5--years,--10--months', '9--years,--9--months',
       '8--years,--4--months', '2--years,--5--months',
       '31--years,--6--months', '17--years,--8--months',
       '16--years,--6--months', '17--years,--7--months',
       '19--years,--2--months', '54--years', '41--years',
       '7--years,--2--months', '24--years,--2--months',
       '11--years,--7--months', '10--years,--10--months',
       '27--years,--6--months', '9--years,--10--months',
       '6--years,--4--months', '8--months,--1--week',
       '11--years,--8--months', '24--years,--1--month',
       '4--years,--9--months', '6--months,--3--weeks',
       '12--years,--2--months', '19--years,--8--months',
       '16--years,--9--months', '9--years,--6--months', '50--years',
       '7--years,--5--months', '24--years,--6--months',
       '4--years,--7--months', '6--years,--8--months',
       '11--years,--2--months', '33--years,--6--months',
       '49--years,--7--months', '2--years,--3--months',
       '4--years,--3--months', '42--years', '4--weeks',
       '9--months,--3--weeks', '36--years,--4--months',
       '23--years,--5--months', '16--years,--4--months',
       '24--years,--10--months', '19--years,--7--months',
       '26--years,--6--months', '9--years,--7--months',
       '4--years,--5--months', '8--years,--11--months',
       '12--years,--10--months', '15--years,--3--months',
       '6--years,--11--months', '29--years,--11--months',
       '28--years,--3--months', '25--years,--7--months',
       '14--years,--11--months', '17--years,--9--months',
       '5--years,--9--months', '8--years,--7--months',
       '13--years,--8--months', '39--years,--2--months',
       '11--years,--11--months', '11--years,--6--months',
       '6--months,--2--weeks', '42--years,--8--months', '51--years',
       '14--years,--1--month', '11--months,--2--weeks',
       '6--years,--9--months', '19--years,--9--months',
       '6--years,--10--months', '9--years,--4--months',
       '7--years,--3--months', '14--years,--2--months',
       '13--years,--5--months', '3--years,--3--months',
       '9--years,--2--months', '19--years,--11--months',
       '27--years,--8--months', '38--years,--6--months',
       '15--years,--1--month', '16--years,--8--months',
       '7--years,--11--months', '11--years,--9--months',
       '12--years,--8--months', '15--years,--4--months',
       '8--years,--9--months', '9--years,--1--month',
       '8--years,--3--months', '12--years,--4--months',
       '17--years,--4--months', '18--years,--10--months',
       '7--years,--7--months', '25--years,--10--months',
       '22--years,--11--months', '10--years,--2--months',
       '20--years,--5--months', '21--years,--7--months',
       '19--years,--3--months', '4--years,--8--months',
       '32--years,--3--months', '7--years,--1--month',
       '11--years,--1--month', '14--years,--4--months',
       '27--years,--10--months', '10--years,--8--months',
       '15--years,--5--months', '22--years,--10--months',
       '15--years,--2--months', '21--years,--11--months',
       '8--years,--5--months', '14--years,--8--months',
       '18--years,--5--months', '6--years,--7--months',
       '9--months,--2--weeks', '16--years,--10--months',
       '14--years,--6--months', '20--years,--1--month',
       '25--years,--9--months', '18--years,--6--months',
       '26--years,--11--months', '16--years,--7--months',
       '8--years,--1--month', '29--years,--4--months',
       '10--years,--3--months', '26--years,--3--months',
       '4--months,--2--weeks', '26--years,--8--months',
       '28--years,--7--months', '29--years,--6--months',
       '11--years,--5--months', '28--years,--4--months', '55--years',
       '7--years,--10--months', '21--years,--6--months',
       '12--years,--7--months', '19--years,--10--months',
       '29--years,--3--months', '24--years,--9--months',
       '35--years,--8--months', '47--years', '25--years,--11--months',
       '22--years,--2--months', '48--years', '17--years,--1--month',
       '20--years,--11--months', '43--years,--10--months',
       '30--years,--6--months', '52--years', '34--years,--9--months',
       '18--years,--9--months', '60--years', '38--years,--10--months',
       '27--years,--4--months', '20--years,--4--months', '45--years',
       '22--years,--3--months', '20--years,--8--months',
       '15--years,--7--months', '30--years,--8--months',
       '24--years,--8--months', '20--years,--6--months',
       '12--years,--9--months', '30--years,--10--months',
       '13--years,--4--months', '27--years,--3--months',
       '40--years,--8--months', '21--years,--5--months',
       '32--years,--10--months', '33--years,--2--months',
       '25--years,--4--months', '20--years,--9--months',
       '19--years,--5--months', '35--years,--11--months',
       '26--years,--5--months', '18--years,--7--months',
       '18--years,--3--months', '16--years,--3--months',
       '30--years,--9--months', '20--years,--2--months',
       '37--years,--6--months', '30--years,--5--months',
       '16--years,--11--months', '9--years,--3--months',
       '27--years,--5--months', '21--years,--2--months',
       '24--years,--11--months'], dtype=object)